.nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    top: calc(100% - 3px);
    left: 0;
    border-radius: 10px;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .15s ease-in;
}

.nav-link {
    position: relative;
    cursor: pointer;
}