.nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    top: calc(100% - 3px);
    left: 0;
    border-radius: 10px;
}

.nav-link:hover::after {
    width: 100%;
    opacity: 0.5;
    transition: width .15s ease-in;
}

.nav-link {
    position: relative;
    cursor: pointer;
}

.active::after {
    width: 100%;
    opacity: 1;
}

@media screen and (max-width : 767px) {
    .nav-link::after {
        display: none;
    }

    .nav-link.active {
        border-right: 4px solid white;
    }
}