.secondary-nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    top: calc(100% - 3px);
    left: 0;
    border-radius: 10px;
}

.secondary-nav-link:hover::after {
    width: 100%;
    transition: width .15s ease-in;
}

.secondary-nav-link {
    position: relative;
}

.active::after {
    width: 100%;
}

.secondary-nav-link.active {
    color: white;
}